.brands{
    width: 70%;
    height: 240px;
    margin: 50px auto;
    border-radius: 15px;
    .brands__top{
        color: gray;
        justify-content: end;
    }
    .brands__img{
        border-radius: 15px;
        display: flex;
        width: 90px;
        height: 120px;
        column-gap: 30px;
        .m1{
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;
          }
          
          .m1:hover {
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
        }
        .m2{
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;
          }
          
          .m2:hover {
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
        }
        .m3{
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;
          }
          
          .m3:hover {
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
        }
        .m4{
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;
          }
          
          .m4:hover {
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
        }
        .m5{
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;
          }
          
          .m5:hover {
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
        }
        .m6:hover{
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
            border-radius: 15px;
        }
          }
        
    }
