.category {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .category__center {
    width: 70%;
    height: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h1 {
      font-family: var(--shabnam);
      font-size: 25px;
    }
    .category__slider {
      width: 100%;
      height: 80%;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: flex;
        width: 85%;
        height: 100%;
        object-fit: contain;
        
      }
    }
  }
}
.swiper-button-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 200ms;
    background-color: #e7e7e7;
    border: 1px solid gray;
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 15px;
        height: 15px;
        color: gray;
    }
    
}
.swiper-button-prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 200ms;
    background-color: #e7e7e7;
    border: 1px solid gray;
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 15px;
        height: 15px;
        color: gray;
    }
    
}