@import "./setting.css";
@import "./header.css";
@import "./baner.css";
@import "./discount.css";
@import "./category.css";
@import "./2thdiscount.css";
@import "./why.css";
@import "./brands.css";
@import "./veblog.css";
@import "./down__footer.css";